@import '../../animations';

.about-us {
    background-color: #1E0C06;
    margin: 294px 8.05% 0px 0px;
    border-radius: 0px 43px 43px 0px;
    padding: 44px 0px 260px 17.362%;
    box-shadow: -5px -5px 50px #88888859;

    &__left {

        h1,
        p {
            color: $light-color;
        }

        h1 {
            @include title;
            margin-bottom: 67px;
        }

        p {
            @include normal-text;
            max-width: 516px;
            height: auto;
            width: 100%;
            font-weight: 700;
            font-size: 3rem;
            margin: 0px;
        }
    }

    &__right {
        position: relative;

        img {
            position: absolute;
            @include zoom-in;
        }

        &--img1 {
            max-width: 205px;
            @include responsive-img();
            right: 5.86%;
            top: 61px;
        }

        &--img2 {
            max-width: 350px;
            @include responsive-img();
            right: 12%;
            top: 167px;
            border: 10px solid #1E0C06;
            border-radius: 42px;
        }

        &--img3 {
            max-width: 205px;
            @include responsive-img;
            right: 7.94%;
            top: 519px;
        }
    }

    @include maxWidth($tablet-width) {
        margin: 294px 28px 0px 0px;
        padding: 44px 0px 360px 17.362%;

        &__right {
            &--img1 {
                max-width: 151px;
                right: 23%;
                top: 31px;
            }

            &--img2 {
                max-width: 259.86px;
                right: 36%;
                top: 77px;
            }

            &--img3 {
                max-width: 151px;
                right: 72.2%;
                top: 79px;
            }
        }
    }

    @include maxWidth($mobile-with) {
        margin: 92.77px 8.05% 0px 0px;
        padding: 47px 47px 422px 20px;

        &__left {

            h1,
            p {
                color: $light-color;
            }

            h1 {
                margin-bottom: 38.32px;
            }

            p {
                font-size: 15px;
                width: 85%;
            }
        }

        &__right {
            &--img1 {
                max-width: 111px;
                right: 30px;
                top: 31px;
            }

            &--img2 {
                max-width: 189.86px;
                right: 84px;
                top: 77px;
            }

            &--img3 {
                max-width: 111px;
                right: 72px;
                top: 279px;
            }
        }
    }
}