@font-face {
    font-family: KyivType;
    src: url('/assets/fonts/KyivType/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Medium-.otf');
}

@font-face {
    font-family: Inter;
    src: url('/assets/fonts/Inter/Inter[wght].ttf');
}