<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">
                menu
            </mat-icon>
        </button>
        <h1>
            Angular Material Side nav
        </h1>
        <button 
        class="btn btn-primary"
        (click)="logOut()"
        >
            Logout
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item>Home</a>
            <a mat-list-item>Profile</a>
            <a mat-list-item>About us</a>
            <a mat-list-item>Contact</a>
            <a mat-list-item>Cenlenders</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">

        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->



