<section class="candidates">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">
        <div class="wrap">
          <div class="candidate-wrap">
            <div class="d-flex flex-row justify-content-between py-5">
              <div class="w-100">
                <h2 class="form-name"><strong>Candidates</strong></h2>
              </div>
              <div class="candidates-add">
                <button class="btn btn-primary" (click)="addCandidateDialog()">
                  Add Candidates
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
