@import 'config/color';

.candidates {
    &-add {
        button {
            font-size: 1.1rem;
            font-weight: 500;
            padding: 20px 15px;
            width: 160px;
            background-color: $primary;
        }
    }
}