<section class="job-requisitions">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12">
        <div class="wrap">
          <div class="job-requisitions-wrap">
            <div class="d-flex flex-row justify-content-between py-5">
              <div class="w-100">
                <h2 class="form-name">
                  <strong>Job Requisitions Management</strong>
                </h2>
              </div>
              <div class="job-requisitions-add">
                <button class="btn btn-primary" (click)="addJobDialog()">
                  Add Job Requisitions
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
