$primary-color-5000: #f1a661;
$primary-color-3000: #fdeedc;
$primary-color-6000: #e38b29;
$secondary-color-5000: #21294c;
$neutral-1-color-3000: #b3b3b3;
$neutral-1-color-4000: #808080;
$neutral-1-color-6000: #1a1a1a;
$neutral-1-color-6000: #1a1a1a;
$neutral-1-color-5000: #4d4d4d;