%reset-btn {
  background: transparent;
  border: none;
}

.btn {
  @extend %reset-btn;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  text-align: center;
}

.btn--primary {
  color: white;
  background-color: $primary-color-5000;
  transition: all 200ms ease-in;

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;

    pointer-events: none;
    cursor: default;
  }
}

.btn--secondary {
  background-color: white;
  color: $primary-color-6000;
  border: none;
}

.btn--block {
  display: block;
  width: 100%;
}